---
Title: Cake.Mage
NoSidebar: true
NoContainer: false
NoGutter: true
---

<div class="container">				
	<h1>What is it?</h1>
    <p>
        The Cake.Mage addin adds Mage.exe support to Cake
    </p>
</div>